@charset "UTF-8";

@font-face {
    font-weight: 400;
    src: url(font/NotoSansJP-Regular.ttf) format("truetype");
    font-family: Noto Sans JP;
    font-display: swap;
}

@font-face {
    font-weight: 500;
    src: url(font/NotoSansJP-Medium.ttf) format("truetype");
    font-family: Noto Sans JP;
    font-display: swap;
}

@font-face {
    font-weight: 700;
    src: url(font/NotoSansJP-Bold.ttf) format("truetype");
    font-family: Noto Sans JP;
    font-display: swap;
}

@font-face {
    font-weight: 900;
    src: url(font/NotoSansJP-Bold.ttf) format("truetype");
    font-family: Noto Sans JP;
    font-display: swap;
}

label[for] {
    cursor: pointer;
}

header {
    z-index: 2;
    position: fixed;
    background-color: white;
    font-family: Noto Sans JP;
    width: 100%;
    height: 88px;
    top: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: -8px;
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.1019607843);
    display: flex;
    justify-content: space-between;
    
}

.logo {
    width: 206px;
    height: auto;
    margin-inline: 15%;
    margin-block: 12%;
}

.l-header__cnt {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 24px 30px;
}

.l-header__nav-list {
    display: flex;
    list-style: none;

}

/* hamburger menu-only */

@media (max-width:768px) {

    #toggle {
        display: none;
    }

    /**
    Hamburger
  **/
    .hamburger {
        position: absolute;
        top: 5em;
        right: 7%;
        margin-left: -2em;
        margin-top: -45px;
        width: 2em;
        height: 45px;
        z-index: 5;

    }

    .hamburger div {
        position: relative;
        width: 3em;
        height: 0.4vw;
        border-radius: 0px;
        background-color: black;
        margin-top: 8px;
        transition: all 0.3s ease-in-out;
    }

    /**
  Nav Styles
  **/
    .nav {
        position: fixed;
        width: 100%;
        height: 100%;
        background-image: url(/column/03/bg/navmenu_sp.jpg);
        background-size: cover;
        background-position: center;
        background-color: #cccccc;
        top: -100%;
        left: 0;
        right: 0%;
        bottom: 0;
        overflow: hidden;
        transition: all 0.4s ease-in-out;
        transform: scale(0);
    }

    .nav-wrapper {
        position: relative;
        overflow: hidden;
        overflow-y: auto;
        height: 100%;
    }

    nav {
        text-align: left;
        margin: 30vw;
        text-align: center;
    }

    nav a {
        position: relative;
        text-decoration: none;
        color: white;
        font-size: 5vw;
        font-weight: bold;
        display: inline-block;
        line-height: 3;
        transition: color 0.2s ease-in-out;
        letter-spacing: 1px;
    }

    nav a:before {
        content: '';
        height: 0;
        width: 0.25em;
        background-color: white;
        left: -0.5em;
        transition: all 0.2s ease-in-out;
    }


    /**
  Animations
  **/
    #toggle:checked+.hamburger .top-bun {
        transform: rotate(-20deg);
        background-color: white;
        margin-top: px;
    }

    #toggle:checked+.hamburger .bottom-bun {
        transform: rotate(20deg);
        background-color: white;
        margin-top: -3px;
    }

    #toggle:checked+.hamburger+.nav {
        top: 0;
        transform: scale(1);
    }

}

/* hamburger menu ends */

@media (min-width:768px) {

    #toggle {
        display: none;
    }

    .l-header__nav-toggle {
        display: none;
    }

    .nav-wrapper {
        display: none;
    }

    .l-header__nav-checkbox {
        display: none;
    }

    .address{
        margin-right: 50px;
    }
}

@media (max-width:768px) {
    .l-header__nav-list {
        display: none;
    }

    .l-header__nav-toggle {
        display: block;
        position: absolute;
        top: 50%;
        z-index: 5;
        right: 4vw;
    }

    .footer-box {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }

    .address {
        text-align: center;
        align-items: center;
        align-self: center;
        margin: 0;
    }

    p.footer-head{
        margin-left: auto;
    }

    p.footer-ttl{
        margin-left: auto;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .link-box {
        text-align: center;
    }

    .copyright {
        text-align: center;
    }
}


.l-header__nav-item {
    margin-right: 40px;
}

@media (max-width:1024px) {
    .l-header__nav-item {
        margin-right: 2vw;
    }
}

.l-header__nav-item>a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

.l-header__nav-last>a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}


body {
    font-family: Noto Sans JP;
}

.content{
    margin-bottom: 10%;
    margin-top: 50px;
}

@media (max-width:768px){
    .content{
        margin-top: 0%;
    }
}

h1 {
    margin-left: 15%;
    margin-right: 15%;
    line-height: 2;
    font-size:  2.3vw;
    text-align: center;
}

@media (max-width:768px) {
    
    h1{
        margin-top: 150px;
        font-size: 5.5vw;
    }
}

@media (min-width:768px){
    h1{
        margin-top: 15%;
    }
}


h3 {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 40px;
    margin-bottom: 10px;  
    padding-left: 10px;
}

@media (min-width:1024px) {
    h3{
        margin-inline: 20%;
    }
}

@media (max-width:768px){
    h3{
        margin-inline: 10%;
    }
}

p {
    margin-left: 16%;
    margin-right: 15%;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 2;

}

@media (min-width:1024px) {
    p{
        margin-left: 21%;
        margin-right: 20%;
    }
}

@media (max-width:768px) {
    p{
        font-size: 3.7vw;
        margin-left: 11%;
        margin-right: 10%;
    }

    ul{
        font-size: 3.7vw;
    }
}

.link-text {
    color:royalblue;
    text-decoration: underline;
}

.list {
    list-style: decimal;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 2;
}

.list-b {
    list-style-type:decimal-leading-zero;
    margin-top: 20px;
    line-height: 2;
    margin-bottom: 40px;
}

@media (min-width:1024px) {
    .list{
        margin-inline: 20%;
    }
}

@media (max-width:768px){
    .list{
        margin-inline: 10%;
    }
}

.above{
    margin-bottom: 0%;
    text-align: right;
}

.date{
    text-align: right;
    margin-block: 15px;
}

.partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    padding: 2em;
    margin-top: 100px;
}

.partner-img{
    max-width: 240px;

}

.partner-p{
    margin: 0;
    font-size: smaller;
    text-align: center;
}

.partner-s{
    margin: 0;
    font-size: x-small;
    text-align: center;
}

footer {
    background-color: #222222;
    color: white;
    font-family: Noto Sans JP;
    text-decoration: none;
    margin: 0 -8px -8px;
}

.footer-box {
    display: flex;
    justify-content: left;
    padding: 40px;
    margin-left: 7%;
}

.address {
    justify-content: left;
}

.footer-head {
    font-size: 14px;
    text-decoration: none;
    margin-left: 0%;
    margin-bottom: 5px;
    margin-top: 10%;
}

.footer-ttl {
    font-size: small;
    font-weight: bold;
    margin-left: 0%;
}


.l-footer__info_txt>a {
    font-family: Noto Sans JP;
    font-size: 14px;
    text-decoration: none;
    text-decoration-style: none;
    color: white;
    line-height: 2.1;

}

.text-s {
    font-size: 14px;
}

.text_link {
    font-family: Noto Sans JP;
    font-size: 14px;
    text-decoration: underline;
    color: white;
}

.link-box {
    width: 200px;
}

.l-footer__lnk_lst>a {
    font-family: Noto Sans JP;
    text-decoration: none;
    font-size: 14px;
    line-height: 2.1;
    color: white;
}

.l-footer__lnk_lst {
    list-style: none;
}

.footer-linklist {
    margin: 0%;
    padding-left: 0%;
}

.footer-link>a {
    font-family: Noto Sans JP;
    font-size: 14px;
    line-height: 2.1;
    text-decoration: none;
    color: white;
}

.footer-link {
    list-style: none;
}

.copyright {
    font-size: small;
    margin-block: 0;
    padding-bottom: 26px;
}